@inherits SlideBase

<div class="full-screen">
    <header class="slide-header">
        <h1 class="slide-title">Additional Resources</h1>
    </header>
    <div class="slide-content">
        <h2>Blazor State:</h2>
        <ul>
            <li>
                <a href="https://learn.microsoft.com/en-us/aspnet/core/blazor/state-management?view=aspnetcore-8.0&pivots=server"
                   target="_blank">
                    ASP.NET Core Blazor State Management
                </a>
            </li>
            <li>
                <a href="https://learn.microsoft.com/en-us/aspnet/core/blazor/components/cascading-values-and-parameters?view=aspnetcore-8.0"
                   target="_blank">
                    ASP.NET Core Blazor Cascading Values and Parameters
                </a>
            </li>
            <li>
                <a href="https://jonhilton.net/blazor-rendering/"
                   target="_blank">
                    Why and When Blazor Components Re-Render
                </a>
            </li>
        </ul>
        <h2>Libraries:</h2>
        <ul>
            <li>
                <a href="https://github.com/mrpmorris/Fluxor"
                   target="_blank">
                    Fluxor
                </a>
            </li>
            <li>
                <a href="https://github.com/TimeWarpEngineering/timewarp-state"
                   target="_blank">
                    TimeWarp State
                </a>
            </li>
        </ul>
    </div>
</div>
