@inherits SlideBase

<h1>CascadingValue Example</h1>

<AppStateCascadingValue>
    <ExampleContainer BackgroundColor="#111"
                      ForegroundColor="#FFF"
                      Title="Top-Level">
        <ExampleContainer BackgroundColor="#F00"
                          ForegroundColor="#FFF"
                          Title="Second-Level">
            <ExampleContainer BackgroundColor="#0F0"
                              ForegroundColor="#000"
                              Title="Third-Level">
                <DateTimeButtonCascadingValue />
            </ExampleContainer>
        </ExampleContainer>
        <ExampleContainer BackgroundColor="#F00"
                          ForegroundColor="#FFF"
                          Title="Second-Level">
            <ExampleContainer BackgroundColor="#0F0"
                              ForegroundColor="#000"
                              Title="Third-Level">
                <DateTimeButtonCascadingValue />
            </ExampleContainer>
        </ExampleContainer>
    </ExampleContainer>
</AppStateCascadingValue>
