@inherits SlideBase

<div class="full-screen">
    <header class="slide-header">
        <h1 class="slide-title">Example: CascadingValue</h1>
    </header>
    <div class="slide-content">
        <AppStateCascadingValue>
            <ExampleContainer BackgroundColor="#FFF"
                              ForegroundColor="#000"
                              Title="CascadingValue Component">
                <ExampleContainer BackgroundColor="#111"
                                  ForegroundColor="#FFF"
                                  Title="Top-Level">
                    <ExampleContainer BackgroundColor="#F00"
                                      ForegroundColor="#FFF"
                                      Title="Second-Level">
                        <ExampleContainer BackgroundColor="#0F0"
                                          ForegroundColor="#000"
                                          Title="Third-Level">
                            <TimeButtonCascadingValue />
                        </ExampleContainer>
                    </ExampleContainer>
                    <ExampleContainer BackgroundColor="#F00"
                                      ForegroundColor="#FFF"
                                      Title="Second-Level">
                        <ExampleContainer BackgroundColor="#0F0"
                                          ForegroundColor="#000"
                                          Title="Third-Level">
                            <TimeButtonCascadingValue />
                        </ExampleContainer>
                    </ExampleContainer>
                </ExampleContainer>
            </ExampleContainer>
        </AppStateCascadingValue>
    </div>
</div>
