@inherits SlideBase

<div class="full-screen">
    <header class="slide-header">
        <h1 class="slide-title">Code Sample: CascadingValue</h1>
    </header>

    <div class="slide-content">
        <CodeBlock FileName="AppStateCascadingValue.razor">
            @CodeStrings.CascadingValueRazorComponent
        </CodeBlock>

        <CodeBlock FileName="TimeButtonCascadingValue.razor">
            @CodeStrings.CascadingValueButtonRazorComponent
        </CodeBlock>

        <CodeBlock FileName="SamplePage.razor">
            @CodeStrings.CascadingValueUsage
        </CodeBlock>
    </div>
</div>