@inherits SlideBase

<h1>Contact</h1>

<QRCode BackColor="transparent"
        Data="https://mreisz7.github.io/BlazorStateLightningTalk/"
        ErrorCorrection="@ErrorCorrection.High"
        ForeColor="#FFF"
        PaddingCells="5"
        Size="200px" />

<div class="contact-card-container">
    <div class="contact-card">
        <span class="contact-name">Michael Reisz</span>
        <span class="contact-title">Product Development Manager</span>
        <span class="contact-email">
            <a href="mailto:michael_reisz@yahoo.com">michael_reisz@yahoo.com</a>
        </span>
    </div>
</div>
