@inherits SlideBase

<div class="full-screen">
    <header class="slide-header">
        <h1 class="slide-title">Code Sample: Dependency Injection</h1>
    </header>

    <div class="slide-content">
        <CodeBlock FileName="AppStateDependencyInjection.cs">
            @CodeStrings.AppStateDependencyInjection
        </CodeBlock>

        <CodeBlock FileName="Program.cs">
            @CodeStrings.DependencyInjectionUsage
        </CodeBlock>

        <CodeBlock FileName="TimeButtonDependencyInjection.razor">
            @CodeStrings.DependencyInjectionButtonRazorComponent
        </CodeBlock>
    </div>
</div>