@inherits SlideBase

<div class="full-screen">
    <header class="slide-header">
        <h1 class="slide-title">Blazor State Management: Introduction</h1>
    </header>
    <div class="slide-content">
        <h2>Blazor State Overview:</h2>
        <ul>
            <li>
                Application state refers to the data that an application needs to maintain and manage throughout the lifecycle of a user’s session or across multiple sessions
            </li>
            <li>
                Blazor supports multiple methods for managing application state:
                <ul>
                    <li>Internal component state</li>
                    <li>URL</li>
                    <li>Cascading Parameters</li>
                    <li>Dependency Injection</li>
                </ul>
            </li>
            <li>
                For more complex applications Cascading Parameters and/or Dependency Injection are required
            </li>
        </ul>
    </div>
</div>
