<div class=@($"datetime-button-container component-rendered-{(_renderIndicator ? "true" : "false")}")>
    <h3>@AppState.Date.ToString("hh:mm:ss.fff")</h3>
    <button @onclick="@AppState.UpdateDate"
            @onclick:stopPropagation="true"
            @onclick:preventDefault="true"
            @ontouchstart:stopPropagation="true"
            @ontouchstart:preventDefault="true"
    >
        Update DateTime
    </button>
</div>

@code {

    [CascadingParameter]
    public AppStateCascadingValue AppState { get; set; } = new();

    private bool _renderIndicator = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        _renderIndicator = !_renderIndicator;
        await base.OnAfterRenderAsync(firstRender);
    }

}
